.header {
    margin: 15px;
}

.ikony_menu {
    align-items: center;
    color: black;
}

.menu_ikona {
    margin: 5px;
    height: 40px;
    padding: 2px;
}

.logo {
    padding-bottom: 5px;
    color: black;
}

.logo:hover {
    border-bottom: solid;
}

.navbar_icon:hover {
    border-bottom: solid;
}

h1:hover {
    border-bottom: solid;
}


.search_section:hover {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.btn:hover {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.list-group {
    justify-content: center;
}

.header_section {
    align-items: baseline;
    color: black;
}

.btn {
    font-weight: 500;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.background_section {
    height: 50vh;
}

.background_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zapisz {
    width: 250px;
}

a {
    color: black;
}

.obraz_karuzela {
    filter: brightness(75%) saturate(140%);
}

.karuzela_text {
    color: black;
    background-color: #ffc107;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}