.image_top {
    height: 18em;
    width: 100%;
    object-fit: cover;
}

.image_column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.text_column {
    background-color: #ffc107;
}

h2 {
    margin-top: 15px;
}

.navlink {
    color: black;
}

.navlink:hover {
    border-bottom: solid;
    border-bottom-width: 3px;
    border-color: black;


}

.sidebar {
    margin: 15px;
}

.row_section {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}

.price {
    font-weight: 700;
}

.delivery {
    color: #3643ba;
    font-weight: 600;
}
.card-img-top {
    height: 18vw;
}


@media (max-width: 576px) { 
    .card-img-top {
        height: 40vw;
    }
 }

@media (max-width: 768px) { 
    .card-img-top {
        height: 28vw;
    }
 }
